.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
}
.pill-btn {
  position: relative;
  display: block;
  border: none;
  text-align: center;
  margin: 1em auto 0;
  color: #fff;
  width: 100%;
  padding: 0.75em 2em;
  text-transform: uppercase;
  transition: 0.2s ease;
  border-radius: 100px;
  overflow: hidden;
  span {
    position: relative;
    display: block;
    z-index: 1;
  }
  &.disabled {
    background: #057098 !important;
    cursor: no-drop;
    &::after {
      content: unset;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.4s ease;
    border-radius: 100px;
  }
  &.login-btn {
    margin: 0;
    padding: 0.5rem 2rem;
  }
  &.red {
    background: $playful-red;
    &:hover {
      &::after {
        width: 100%;
        background: darken($playful-red, 10%);
      }
    }
  }
  &.blue {
    background: $playful-blue;
    &:hover {
      &::after {
        width: 100%;
        background: darken($playful-blue, 10%);
      }
    }
  }
  &.yellow {
    background: $playful-yellow;
    &:hover {
      &::after {
        width: 100%;
        background: darken($playful-yellow, 10%);
      }
    }
  }
  &.green {
    background: $playful-green;
    &:hover {
      &::after {
        width: 100%;
        background: darken($playful-green, 10%);
      }
    }
  }
}
.navbar-toggler {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: unset;
}
#mobileNavigation {
  display: none;
  @include media-query($small) {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    height: 4em;
  }
  .mobile-nav--icon {
    color: #fff;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    &.red {
      background: $playful-red;
    }
    &.blue {
      background: $playful-blue;
    }
    &.yellow {
      background: $playful-yellow;
    }
    &.green {
      background: $playful-green;
    }
  }
}
