.customer-form {
  position: relative;
  display: block;
  padding: 0.5em 2em 2em;
  border-radius: 5px;
  max-width: 100%;
  margin: 0 auto;
  @include media-query($small) {
    padding: 0.5em 0em 2em;
  }
  &.sm-form {
    max-width: 50%;
  }
  &.lg-form {
    max-width: 75%;
  }
  &.recover {
    .customer-form--btn,
    .pill-btn {
      display: inline-block;
      width: auto;
      padding: 0.75em 3em;
      margin: 0 1em 0 0;
    }
  }
  .form-control {
    font-size: 1em;
    border: 1px solid #eaeaea;
    color: #585858;
    background: rgba(238, 238, 239, 0.5);
    transition: all 0.3s ease;
    padding: 0.75em;
    &:focus {
      border: 1px solid #dedede;
      background-color: #fcfeff;
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    }
    &.quantity {
      padding: 0.375rem 0.75rem;
    }
  }
}
.custom-select {
  font-size: 1em;
  border: 1px solid #eaeaea;
  color: #585858;
  background: rgba(238, 238, 239, 0.5);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  padding: 0.75em;
  height: unset;
  background-position: right 0.75rem center;
  background-size: 0.6em;
  cursor: pointer;
}
.customer-form--btn {
  background: $playful-blue;
  display: block;
  border: none;
  text-align: center;
  margin: 1.75em auto;
  color: #fff;
  width: 100%;
  padding: 0.75em 0;
  text-transform: uppercase;
  transition: 0.2s ease;
  border-radius: 100px;
  &:hover {
    background: darken($playful-blue, 10%);
  }
  &.cancle {
    background: $playful-red;
    &:hover {
      background: darken($playful-red, 10%);
    }
  }
}
.custom-control {
  input {
    display: none;
    &:checked + .form-check-label::after {
      opacity: 1;
      animation: checkMarkSmall 0.4s cubic-bezier(0.46, -0.14, 0.35, 1.19);
      @-webkit-keyframes checkMarkSmall {
        0% {
          width: 0;
          height: 0;
        }
        50% {
          width: 0.7em;
          height: 0;
        }
        100% {
          width: 0.7em;
          height: 1.3em;
        }
      }
      @keyframes checkMarkSmall {
        0% {
          width: 0;
          height: 0;
        }
        50% {
          width: 0.7em;
          height: 0;
        }
        100% {
          width: 0.7em;
          height: 1.3em;
        }
      }
    }
  }
  .form-check-label {
    margin: 0 0.7em;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #c5c5c5;
    }
    &::after {
      content: "";
      position: absolute;
      border-radius: 0px;
      background: unset;
      opacity: 0;
      -ms-transform: scaleX(-1) rotate(135deg);
      -webkit-transform: scaleX(-1) rotate(135deg);
      transform: scaleX(-1) rotate(135deg) !important;
      -ms-transform-origin: left top;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      border-right: 4px solid #00adee;
      border-top: 4px solid #00adee;
      display: block;
      left: 0;
      top: 0.5em;
      width: 0.7em;
      height: 1.3em;
    }
  }
}
