.product-image--link {
  position: relative;
  display: block;
  text-decoration: unset;
  &:hover {
    text-decoration: unset;
  }
}
.product-box {
  position: relative;
  background: #ffffff;
  display: block;
  margin-bottom: 1em;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), 5px 7px 16px rgba(0, 0, 0, 0.4);
}
.product-details {
  padding: 0 2em 2em;
  .product-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  .product-title--sub {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.add-to-cart--form {
  .add-to-cart--btn {
    background: $playful-red;
    display: block;
    border: none;
    text-align: center;
    margin: 2em auto 0;
    color: #fff;
    padding: 1em 4em;
    text-transform: uppercase;
    transition: 0.2s ease;
    border-radius: 100px;
  }
}
.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}
.single-product {
  padding: 3em 0;

  .product--title {
    color: #464646;
    margin-bottom: 0.25em;
  }
  .product--vendor {
    color: #6c757d;
  }
  .form--btn {
    position: relative;
    display: block;
    border-top: 1px solid #dedede;
    margin-top: 2em;
    .add-to-cart--btn {
      background: $playful-blue;
      margin: 1em auto 0;
      &:hover {
        background: darken($playful-blue, 10%);
      }
    }
  }
}
.product-image {
  max-height: 294px;
  overflow: hidden;
}
.product-details-container {
  position: relative;
  display: block;
  padding: 0.5em 2em 2em;
  box-shadow: 0px 17px 7px -12px rgba(52, 59, 68, 0.2),
    0px 1px 6px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}
.price-container {
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  margin: 1em 0;
  padding: 0.5em 0;
  .product--price {
    font-size: 1.8em;
    color: #6c757d;
    font-weight: 700;
  }
}
.compared-price {
  color: $playful-red;
  font-weight: 700;
  text-decoration: line-through;
}
.on-sale {
  font-weight: 700;
  color: #00a551;
  font-size: 1.2em;
}
.sold-out {
  color: #ec1c24;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
}
.product-input--label {
  color: #6c757d;
  font-size: 1.2em;
  margin-top: 0.5em;
}
.quantity {
  max-width: 4em;
  font-size: 1em;
  border-color: #efefef;
}

/**
 * Image List
 **/
.main-image--container {
  max-height: 560px;
  .main-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2em;
    box-shadow: 0px 17px 7px -12px rgba(52, 59, 68, 0.2),
      0px 1px 6px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
  }
}
.image-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .image-item {
    cursor: pointer;
    position: relative;
    margin-bottom: 0.5em;
    background: #fff;
  }
  @include media-query($small) {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    overflow: scroll;
    .image-item {
      margin: 0.25em;
      flex: 0 0 35%;
    }
  }
  .product-single__thumbnail-image {
    padding: 0.5em;
    border: 1px solid #ebedef;
    border-radius: 4px;
    transition: all 0.3s ease;
    background: #fff;
    height: 160px;
    object-fit: contain;
    width: 100%;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 4px 5px 16px 0 rgba(0, 0, 0, 0.15);
    }
    &.active {
      transform: translateY(-3px);
      box-shadow: 4px 5px 16px 0 rgba(0, 0, 0, 0.15);
    }
  }
}
