.block-with-social{
  position: relative;
  background: linear-gradient(to right, #ffffff 60%, #ffdd15 60%);
  z-index: 0;

  .bg-yellow{
    padding: 3em 1.5em;
  }
  .social-list{
    padding: 0 1.5em;
    margin-bottom: 2em;
    .social-list--item{
      margin: 0 .5em;
      .social-list--link{
        color: #ffdd15;
      }
    }
  }
}
.block--image{
  display: block;
  position: relative;
  .responsive-image__wrapper{
    position: absolute;
    display: block;
    max-width: 88% !important;
    right: 34%;
    top: 0;
    height: auto;
    transform: translate(0, -17%);
    z-index: 1;
    img{
      max-height: unset !important;
    }
  }
  .message-img{
    position: relative;
    width: 14em;
    height: 9em;
    right: unset;
    top: 20em;
    left: 0%;
    z-index: 0;
  }
}
.social-block--content{
  margin-top: 1em;
  margin-bottom: 3em;
  .social-info{
    padding: 0 2.5em;
    width: 100%;
    word-wrap: break-word;
  }
}
