.footer{
  margin-top: -38px;
  border-image: url(https://cdn.shopify.com/s/files/1/0077/5815/1739/files/colorful-border.png?1525609…) 15% round;
  border-top: 45px solid transparent;
  background: #000;
  color: #fff;
  padding: 4em 0;
}
