.footer{
  border-image: url(https://cdn.shopify.com/s/files/1/0077/5815/1739/files/colorful-border-new.png?3805994746170471431) 9% round;
  border-top: 4px solid transparent;
  background: #141415;
  color: #fff;
  padding: 4em 0 0;
}
.warning-message{
  font-size: 13px;
}
.bottom-bar {
  border-top: 1px solid #404040;
}
.footer-list {
  padding: 0;
  margin: 0;
  .footer-list--item{
    list-style: none;
    margin-bottom: 0.5em;
    .item--link{
      color: #fff;
      text-transform: uppercase;
    }
  }
}
.footer-contact{
  position: relative;
  display: block;
  max-width: 100%;
  .simple-link{
    color: #fff;
  }
  @media (min-width: 768px){
    max-width: 65%;
  }
}
.footer-header{
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
  border-bottom: 1px solid rgba(130, 130, 130, 0.5);
}
