.product-slider {
  position: relative;
  background: #333333;
  z-index: 0;
  padding: 1em;
}
.pill-container {
  position: relative;
  width: 100%;
  margin: 2em 0 3em;
}
.nav-pills {
  align-items: center;
  justify-content: center;
  .nav-link {
    color: #e8e8e8;
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-size: 1.2em;
    padding: 0.2em 2em;
    margin: 0 0.5em;
    border-radius: 100px;
    transition: 0.2s ease;
    &:hover {
      background: rgba(146, 146, 146, 0.5);
    }
    &.active {
      color: #fff;
      background-color: $playful-blue;
      &:hover {
        background-color: lighten($playful-blue, 10%);
      }
    }
  }
}
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $playful-blue;
}
.carousel-item {
  .product-col {
    &:nth-child(3n + 1) {
      .add-to-cart--btn {
        background: $playful-red;
        &:hover {
          background: darken($playful-red, 10%);
        }
      }
    }
    &:nth-child(3n + 2) {
      .add-to-cart--btn {
        background: $playful-yellow;
        &:hover {
          background: darken($playful-yellow, 10%);
        }
      }
    }
    &:nth-child(3n + 3) {
      .add-to-cart--btn {
        background: $playful-blue;
        &:hover {
          background: darken($playful-blue, 10%);
        }
      }
    }
  }
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
